# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Environment & secrets
.env
*.env
!.env.example

# Data Files - never commit real data
*.csv
*.parquet
data/

# OS / editor
.DS_Store
.idea/
.vscode/

#Jupyter
.ipynb_checkpoints/
